html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* Starting styling page*/

h2
{
  font-size: 30px;
}

p
{
  font-size: 25px;
}
body
{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:400;
  color: white;
}
@keyframes contactkey {
0% {  background-color:black;}
50% {  background-color:blue;}
100% {  background-color:black;}

}

header{

    position: fixed;
    z-index: 10;
    height: 60px;
    width:100%;
}
header ul
{
  overflow: hidden;
  background-color: black;
  font-size: 40px;
  line-height: 1.5;
    width: 100%;


}
header ul li
{
  display:inline;
  float:left;
  border-right: 3px solid white;
}
header ul li:last-child
{
  display: inline;
  float:right;
  border: none;
  background-color: black;
  animation-name: contactkey;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
header ul li:last-child :hover
{
  background-color: green;
}
header ul li a
{
  color: white;
  text-decoration: none;
    padding: 10px 10px;
    text-align: center;
      transition: width 2s, height 2s,font-size 2s;


}
header ul li a:hover
{
  background-color: grey;
  height:100px;
  font-size: 57px;
  width:100%;

}
.image
{
  background-image: url('me.JPEG');
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100% ;
  position:relative;
}
.image section
{
  opacity:0.8;
  position: absolute;
  top: 30%;
  width: 100%;
}
.image h1
{
  text-shadow: 5px 5px 10px blue;
  font-size:80px;
}
.image p{
  font-family: 'Dancing Script', cursive;
  padding-top: 20px;
  font-weight: 500;
  font-size: 25px
}

.wrapper
{
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row wrap;

}
.wrapper .first
{
  background-color:#00014F;
}
.wrapper .second
{
  background-color:#4f0001;
}
.wrapper .third
{
  background-color:#4f4e00;
}
.wrapper .fourth
{
  background-color:#004f4e;
}
.wrapper p{
  width:100%;
}
.description
{
  flex-basis:20%;

}
.description h2
{
  padding-top: 20px;
  font-size: 30px;
    text-align: center;
}
.details
{
  flex-basis: 80%;
  padding: 20px 0;
}
@media only screen and (max-width: 730px)
{
  header{
    height: 100%;
    position: static;
  }
  header li:first-child{
    display: none;

  }
  header ul{
    height: 100%;
  }
  header ul li
  {
      display: block;
      width:100vw;
      float: none;
  }
  header ul li a
  {
      display: block;
    width:100%;
    text-align: center;
  }
  header ul li:last-child
  {
    float: none;
  }
  header ul li a:hover
  {
    height:100%;
    font-size: 40px;
  }
  .image h1
  {
    font-size: 60px;
  }

  .wrapper
  {
    flex-flow: column nowrap;
  }
  .details{
    padding: 20px 10px;
  }
}
