html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* Starting styling page*/
.hidden{
 opacity: 0;
}
@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {

  animation: fade-in 1.4s;

}
html
{
  width: 100vw;
}
.content
{
  display: none;
  width:100%;
  height: 100%;
}

.load-image-wrapper
{
  background-color: black;
  display: block;
  z-index: 2;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  opacity: 1;
  transition: opacity 1s, backgroundColor 1s;

}

.load-img
{
  display: block;
  overflow: hidden;





}
h2
{
  font-size: 30px;
}

p
{
  font-size: 25px;
}
body
{
    background-color: rgb(75,13,130);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:400;
  color: white;
  overflow-x: hidden;
  width: 100%;
}
@keyframes contactkey {
0% {  background-color:black;}
50% {  background-color:blue;}
100% {  background-color:black;}

}

header{
  display:flex;
  background-color: rgb(75,13,130,0);
    position: fixed;
    z-index: 1;
    height: 80px;
    width:100%;
    flex-flow: row nowrap;


}
.breakheader
{
  display: none;
}
.menudropdown
{
  height: 60px;
  padding: 10px 10px;
  display: none;
}
header h2
{
  padding: 20px 10px 10px 100px;
}
header ul
{


  /*background-color: black;*/
  line-height: 1.5;
    width: 100%;


}
header ul li
{
  display:inline;
  float:left;
  font-size: 40px;

}
header ul li:last-child

{
  display: inline;
  float:right;
  border: none;

}
header ul li:last-child a
{
  background-color: black;


animation: contactkey 4s;

  animation-iteration-count: infinite;

}

header ul li a
{
  border-radius: 15px;
  height: 100% ;
  font-size: 25px;
  color: white;
  text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    /*
    transition: border-bottom 2s;
    border-bottom: 2px solid white;
    */


}
header ul li a:hover
{
  background-color: grey;

  /*height:100px;
  font-size: 57px;*/
  width:100%;

}

.image
{
  background-image: url('me.JPEG');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100% ;
  display: table;
}
.image section
{

  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.image h1
{
  text-shadow: 5px 5px 10px blue;
  font-size:80px;
}
.image p{
  font-family: 'Dancing Script', cursive;
  padding-top: 20px;
  font-weight: 500;
  font-size: 25px
}
.aboutwrapper
{
  height: calc(100vh-60px);
}
.wrapper
{
    scroll-behavior: smooth;
  background-color: #086999;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;

}
/*.wrapper .first
{
  background-color:#00014F;
  width: 100%
}

.wrapper .second
{
  background-color:#4f0001;
}
.wrapper .third
{
  background-color:#4f4e00;
}
.wrapper .fourth
{
  background-color:#004f4e;
}
*/
.wrapper p{
  width:100%;
}
#About
{
  display: table;
  background-color: #086999;
  width: 100%;
  height: 100px;
}
#About h2
{
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
}
.description
{
  padding-right: 10px;
  padding-right: 10px;
  margin-left: 12.5%;
  flex-basis:15%;

}
.description h2
{
  padding-top: 20px;
  font-size: 25px;
    text-align: center;
}
.details
{
  flex-basis: 60%;
  padding: 20px 0;
}
.details p{
  font-size: 20px;
}
.Completelangwrapper
{
  height: 100vh;
  background-color: black;

}
.titleprogramming
{

  width: 100%;
  height:10%;
  display: table;
  padding-top: 5%;
  padding-bottom: 5%;
}
.titleprogramming h2
{
  display: table-cell;
  vertical-align: middle;
}
.Languages
{

  background-color: black;
  display: flex;
  flex-flow: column wrap;
  padding-left: 30px;
  height: 70%;
  margin-bottom: 5%;
  justify-content: space-between;


}
.langwrap{
  display: flex;
  flex-flow: row nowrap;
  margin-right: 30px;
  justify-content: space-between;

}
.nameoflanguage
{
  width:20vw;
}
.langimagewrap
{

  display: flex;
  align-items: center;
  justify-content: center;
}
.langimagewrap a
{
  display: inline-block;
}
.langimage
{

  margin-left: auto;
  margin-right: auto;
  height: 60px;
}
.languageicon
{
width: 50vw;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;

}
@keyframes iconloadanim1 {
    from {width: 0;}
    to {width: 95%;}
}
@keyframes iconloadanim2 {
    from {width: 0;}
    to {width: 80%;}
}
@keyframes iconloadanim3 {
    from {width: 0;}
    to {width: 70%;}
}
.iconload1
{
  animation: iconloadanim1 2s;
  animation-timing-function: ease-out;
  border-radius: 10px 0 0 10px;
  font-size: 10px;
  background-color: blue;
  width: 95%;
}
.iconload2
{
  animation: iconloadanim2 2s ease-out;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
  background-color: blue;
  width: 80%;

}
.iconload3
{
  animation: iconloadanim3 2s ease-out;
  border-radius: 10px 0 0  10px;
  font-size: 30px;
  background-color: blue;
  width: 70%;
}
.icon
{
  border-radius: 10px 3px 3px 10px;
  background-color: blue;
}
.wrappercontact
{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact
{
  padding-left: 50px;
  padding-right: 50px;
  background-color: #001142;
    width:70vw;
}
.contact h2
{
  font-size: 35px;
    margin-top: 30px;
}
.contact p
{
  font-size: 25px;
    margin-top: 30px;
}
input
{
  resize: none;
}
textarea
{
  resize: vertical;
}
input,textarea
{
  background-color: gray;
  outline: none;
  font-size: 25px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:400;
  color: white;

}
button
{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  display: block;
  border-radius: 15px;
    font-size: 25px;
    width: 100%;
  background-color: orange;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:400;
  color: white;
}
input:focus, textarea:focus
{
  box-shadow: 0px 0px 10px blue;
}
/*transform: scale(.7,.7);*/
@keyframes listanim {
  from {opacity: 0;height: 0px;padding: 0px 0px; font-size: 0;}
  to {opacity: 1;height: 40px;padding: 10px 0px; font-size: 25px;}
}
@keyframes listanimend {
  from {opacity: 1;height: 40px;padding: 10px 0px; font-size: 25px;}
  to {opacity: 0;height: 0px;padding: 0px 0px; font-size: 0;}

}

@media only screen and (max-width: 730px)
{
  header{
    background-color: rgb(75,13,130);
    height: 100%;
    width: 100vw;
    position: static;
    flex-flow: row wrap;
    align-items: center;
  }
  .listinit{

    opacity: 0;
    display: block;
    height: 0px;
    padding: 0px 0px;


    width: 100%;
  }
  .listinitial
  {
    display: block;
    animation-play-state: running;
    animation: listanimend 1.2s ease-in !important;
    height: 0px;
    padding: 0px 0px;
    opacity: 0;


    width: 100%;
  }
  .listfinal
  {
      animation-play-state: running;
      animation: listanim 1.22s ease-out !important;
      height: 40px;
      padding: 10px 0px;
      opacity: 1;
      width: 100vw;
    display: block;

  }
  .menudropdown
  {
    display: block;
  }
  .breakheader
  {
    display: block;
    flex-basis: 100%;
  }

  header ul{

    height: 100%;

  }
  header ul li
  {
      display: block;
      width:100%;
      float: none;
  }

  header ul li a
  {
    border-radius: 0px;
      display: block;

    text-align: center;
  }

  header ul li:last-child
  {
    display: block;
    width: 100%;
    float: none;
  }
    header ul li:last-child a
    {


    }
  .image h1
  {
    font-size: 60px;
  }

  .wrapper
  {
    flex-flow: column nowrap;
  }
  .description
  {
    margin-left: 0;


  }
  .description h2
  {
    font-size: 20px;
  }
  .details{
    padding: 20px 10px;


  }
  .details p
  {
      font-size: 15px;
  }
  .nameoflanguage
  {
    display: none;
  }
.contact
{width: 100%;}
}
